/* navbar */
/* nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.6s;
    padding: 40px 0px;
}

nav ul li {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.5s;

} */

/* general */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*::-webkit-scrollbar {
    display: none;
}



header,
.section-1,
.section-2,
.section-3,
.section-4,
.section-5 {
    overflow-x: hidden;
}

:root {
    --DG: "Didact-gothic", cursive;
    --Garmond: "Garmond", cursive;
    --Poppins: "Poppins", cursive;
    --Roboto: "Roboto", cursive;
    --dark-color: #032A3B;
    --light-color: #e5cda7;
    --gradient-bg: linear-gradient(to bottom, #ff6822, #a231ff);
}

header a {
    font-family: var(--Poppins);
    font-size: 1em;

}


header {
    color: aliceblue;
    background: var(--gradient-bg);
}

.nav-link {
    color: white;
}

.navbar-collapse {
    flex-grow: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}